<h1>Edit Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for wikis</p>
    <ul>
      <li>No cat pictures.  There's enough of that all over the rest of the internets.  Don't need none of that here.  Picture of pigeons, however, are highly encouraged!</li>
      <li>No cupcakes! They're like cakes, but without the effort.</li>
      <li>If you're Justin Bieber, or a Bieberite or whatever the hell those things that are infatuated with him call themselves, just leave.  Please, just go away.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for @wiki do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter post body" %>
      </div>
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <h4>Collaborators</h4>
  <table class="table">
    <thead>
      <th>Email</th>
      <th></th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td>
            <% unless @wiki.users.include?(user) %>
              <!--  create button -->
              <%= link_to "Add as Collaborator", wiki_collaborators_path(@wiki, user_id: user.id), method: :post, class: "btn btn-success" %>
            <% else %>
              <!-- destroy button -->
              <%= link_to "Destroy Collaborator", wiki_collaborator_path(@wiki, @wiki.collaborator_for(user)), method: :delete, class: "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>